# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* To learn the open source tools for data science.
* To learn the commercial tools for data science.
* To learn the languages that are used in data science.
* To learn the libraries that are used in data science.
* To learn the use of GitHub.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers.

In [4]:
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by dividing by 60.

In [6]:
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author
Digvijay D. Waghmare